main .project {
  height: 95vh;
  width: 100%;
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  color: white;
}

main .project::after {
  height: 95vh;
  width: 100%;
  content: "";
  background: url(../img/project.png);
  background-position: center;
  background-size: cover;
  position: absolute;

  z-index: -1;
  opacity: 0.5;
}

main .project .warpper {
  height: 80vh;
  width: 55vw;
}

main .project h1 {
  font-size: 3rem;
  font-weight: 800;
  color: white;

  text-align: center;
  padding-bottom: 3rem;
}

main .project .projectList {
  position: relative;
  overflow: hidden;
}

main .project .projectSlider {
  display: flex;
  transition: transform 0.4s;
}

main .project .projectPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;

  background-color: white;
  border-radius: 1rem;
}

main .project .projectPage .projcetTitle {
  font-size: 2rem;
  padding-top: 1rem;

  color: skyblue;
}

main .project .projectPage .projectWrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  font-size: 1rem;
  color: black;

  padding: 0 2rem;
}

main .project .projectPage .projectImg {
  padding: 1rem;
}

main .project .projectPage .projectImg h4 {
  padding: 1rem 0;
  background-color: rgb(230, 230, 230);
}

main .project .projectPage img {
  width: 25vw;
  height: 25vh;
}

main .project .projectText {
  width: 25vw;

  padding: 1rem;
}

main .project .projectText p {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.2rem;

  color: black;

  padding-bottom: 1rem;
}

main .project .projectText p + p {
  border-top: 1px solid grey;

  padding: 1rem 0;
}

main .project .btnSlide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 45vh;
  transform: translateY(-50%);

  background: none;
  border: none;
  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;

  font-size: 2rem;
  color: #fff;

  cursor: pointer;
}

main .project .btnSlide.next {
  right: 22vw;
}
